* {
    border: none;
    border-radius: 0;
    font-family: "KyrillaSansSerif";
    font-size: 14px;
    min-height: 0;
}


window#waybar {
    border-bottom: 5px solid #f18d2d;
    color: #f18d2d;
    background: #333142;
}

#workspaces button {
    color: #f18d2d;
}

#workspaces button.focused {
    background: #f18d2d;
    color: #333142;
}

#mode {
    background-color: #fd472f;
    color: white;
    border-bottom: 5px solid white;
}

#clock, #battery, #cpu, #memory, #network, #pulseaudio, #tray, #mode {
    padding: 0 5px;
    margin: 0 5px;
}

#custom-music {
    color: white;
    font-size: 12px;
    margin: 0 15px;
}

#clock {
    color: white;
}

@keyframes blink {
    to {
        background-color: #ffffff;
        color: black;
    }
}


#cpu {
}

#memory {
}

#network {
}

#network.disconnected {
    background: #f53c3c;
}

#pulseaudio {
}

#pulseaudio.muted {
}

#tray {

}

