* {
    border: none;
    border-radius: 0;
    font-family: "Cascadia Code";
    font-size: 14px;
    min-height: 0;
}


window#waybar {
    background: rgba(0,0,0, 0.5);
    border-bottom: 3px solid transparent;
    color: white;
}

#window {
    font-weight: bold;
    
}

#workspaces button {
    padding: 0 5px;
    margin: 0 3px;
    color: white;
    border-bottom: 3px solid transparent;
}

#workspaces button.focused {
    background: rgba(100, 114, 125, 0.2);
    border-bottom: 3px solid @color15;
}


#mode {
    background: #64727D;
    border-bottom: 3px solid white;
}

#clock, #battery, #cpu, #memory, #network, #pulseaudio, #custom-clementine, #tray, #mode {
    padding: 0 3px;
    margin: 0 2px;
}

#clock {
    font-weight: bold;
}

@keyframes blink {
    to {
        background-color: #ffffff;
        color: black;
    }
}


#cpu {
}

#memory {
}

#network {
}

#network.disconnected {
    background: #f53c3c;
}

#pulseaudio {
}

#pulseaudio.muted {
}

#custom-clementine {
    font-weight: bold;
}

#tray {
}

