* {
    border: none;
    border-radius: 0;
    font-family: "KyrillaSansSerif";
    font-size: 16px;
    min-height: 0;
}


window#waybar {
    border-bottom: 5px solid #f18d2d;
    color: #f18d2d;
    background: #333142;
    background: #232627;
}

#window {
    
}

#workspaces button {
    padding: 0 10px;
    color: white;
}

#workspaces button.focused {
    background: #f18d2d;
    color: #333142;
}



#clock, #battery, #cpu, #memory, #network, #pulseaudio, #custom-clementine, #tray, #mode {
    padding: 0 5px;
    margin: 0 10px;
}

#clock {
    color: white;
}

@keyframes blink {
    to {
        background-color: #ffffff;
        color: black;
    }
}


#cpu {
}

#memory {
}

#network {
}

#network.disconnected {
    background: #f53c3c;
}

#pulseaudio {
}

#pulseaudio.muted {
}

#tray {

}

